@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
	font-size: 12px;
	line-height: 26px;
	font-family: "Oswald", sans-serif;
	font-family: "Open Sans", sans-serif;
	background: #fff;
	overflow-x: hidden;
}
img {
	max-width: 100%;
	height: auto;
	/*	display:block;*/
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Oswald", sans-serif;
}

a {
	font-family: "Open Sans", sans-serif;
}
p {
	font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
	display: none;
}
.search-place::placeholder {
	color: #ffffff;
	opacity: 1; /* Firefox */
}

.search-place:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #ffffff;
	opacity: 1;
}

.search-place::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #ffffff;
	opacity: 1;
}
::-moz-selection {
	background: #f7931d;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #f7931d;
	color: #fff;
	text-shadow: none;
}
.clear {
	clear: both;
	color: #fff;
}
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}

/*************************************************
******** ***  ** COMMON STYLES** *** *************
**************************************************/

/*HEADER*/
.header {
	margin: 0 auto 0;
	width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 1% 5%;
}

/*************************************************
******** ***  ** COMMON STYLES** *** *************
**************************************************/
.head {
	position: relative;
	width: 100%;
}
.profile_name {
	width: auto;
	float: right;
}
.profile_name_inn {
	width: auto;
	position: relative;
}
.profile_name_inn ul {
	margin-right: 20px;
	width: auto;
	float: right;
}
.profile_name_inn ul li {
	margin: 0 25px 0 0;
	width: auto;
	float: left;
}
.profile_name_inn ul li p {
	color: #474747;
	text-align: center;
	font-size: 18px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
}
.profile_name_user {
	position: relative;
	width: 100%;
}
.profile_name_user_left {
	position: relative;
	width: auto;
	float: left;
}
.profile_name_user_left p {
	color: #474747;
	text-align: center;
	font-size: 18px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.profile_name_user_right {
	position: relative;
	width: auto;
	float: right;
	margin-left: 10px;
}
.profile_name_user_right_in {
	position: relative;
	width: 75px;
	height: 75px;
	background: #ee433d;
	overflow: hidden;
	border-radius: 50%;
	top: -2.5em;
}
.profile_name_user_right_in h1 {
	color: #ffffff;
	font-size: 25px;
	line-height: 75px;
	font-weight: bold;
	text-align: center;
}
.profile_name_user_right_in_img {
	position: relative;
	width: 75px;
	height: 75px;
	background: #ee433d;
	overflow: hidden;
	border-radius: 50%;
	top: -2.5em;
}
.profile_name_user_right_in_img img {
	width: 100%;
}
.profile_name_inn ul li p span {
	padding-left: 5px;
}
.profile_name_inn ul li .fas {
	color: #ef443d;
	font-size: 25px;
	line-height: 10px;
	font-weight: bold;
}
.profile_name_inn ul li p span {
	color: #000;
}

.dasboard_main {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #e9e9e9;
	overflow-x: scroll !important;
}
.dasboard_inner {
	position: relative;
	width: 100%;
	padding-top: 8%;
}
.dasboard_top {
	position: relative;
	width: 45%;
	margin: 0 auto;
}
.dasboard_top p {
	color: #474747;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}
.dasboard_top p:after {
	position: absolute;
	width: 100px;
	height: 1px;
	background: #000000;
	content: "";
	left: 0;
	top: 1.8em;
}
.dasboard_top_btm {
	position: relative;
	width: 90%;
	margin: 2% auto 0;
	z-index: 99;
}
.dasboard_top_btm_left {
	position: relative;
	width: 70%;
	float: left;
}
.dasboard_top_btm_left_left {
	width: 15%;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	border: #e90a80 solid 3px;
}
.dasboard_top_btm_left_left img {
	width: 100%;
}

.slide_bar {
	position: fixed;
	width: 22%;
	top: 0;
	background: #ffffff;
	height: 100%;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}
.slide_bar_inner_top {
	position: relative;
	width: 65%;
	margin: 0 auto;
}
.slide_bar_inner_top img {
	width: 100%;
}
.slide_bar_inner {
	position: relative;
	width: 100%;
	overflow-x: scroll;
	transition: all 0.1s ease-in-out;
	text-transform: uppercase;
}
.slide_bar_inner_in {
	position: relative;
	width: 100%;
}
.slide_bar_inner_in ul {
	position: relative;
	width: 100%;
}
.slide_bar_inner_in ul li {
	position: relative;
	width: 90%;
	font-size: 16px;
	padding: 4% 0 4% 10%;
	color: #222222;
	border-bottom: #bababa solid 1px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}
.slide_bar_inner_in ul li h1 {
	font-size: 14px;
}
.slide_bar_inner_in ul li .far {
	font-size: 30px;
	margin-right: 10px;
}
.slide_bar_inner_in ul li .fas {
	font-size: 20px;
	margin-right: 10px;
	float: left;
	margin-top: 4px;
}
.slide_bar_inner_in ul li.active {
	color: #ef443d;
	background: none !important;
	box-shadow: none !important;
	border: none;
	padding: 4% 10%;
	/* border-bottom: #bababa solid 1px; */
	margin: 0;
	/* border-radius: 0; */
	width: 80%;
}
.slide_bar_inner_in ul li:hover {
	color: #ef443d;
}
.dashboard_right {
	width: 78%;
	position: relative;
	float: right;
	padding: 3% 0 1.5%;
	height: auto;
	z-index: 9;
}
.dashboard_right2 {
	width: 78%;
	position: relative;
	float: right;
	padding: 3% 0 7%;
	z-index: 9;
}
.dashboard_right_inner {
	width: 95%;
	margin: 0 auto;
}
.dashboard_right_inner_intop {
	position: relative;
	width: 100%;
}
.dashboard_right_inner_intop ul {
	width: auto;
}
.dashboard_right_inner_intop ul li {
	width: 26.33%;
	margin: 1.8% 1%;
	padding: 2.5% 2.5%;
	float: left;
	overflow: hidden;
	border-radius: 5px;
}
.dashboard_right_inner_intop_c1 {
	background: #ef443d;
}
.dashboard_right_inner_intop_c2 {
	background: #f15733;
}
.dashboard_right_inner_intop_c3 {
	background: #f36e29;
}
.dashboard_right_inner_intop ul li h1 {
	color: #ffffff;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 50px;
}
.dashboard_right_inner_intop ul li h2 {
	color: #ffffff;
	font-size: 55px;
	line-height: 50px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 10%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #ffffff;
}
.dashboard_right_inner_intop ul li h3 {
	color: #ffffff;
	font-size: 46px;
	line-height: 50px;
	font-weight: bold;
	text-transform: uppercase;
}
.recent_order {
	position: relative;
	width: 93%;
	margin: 0 auto;
	background: #f15733;
	overflow: hidden;
	border-radius: 5px;
}
.recent_order2 {
	position: relative;
	width: 93%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
	background: #ffffff;
	border: #f15733 solid 1px;
}
.recent_order_left {
	position: relative;
	width: 64.5%;
	padding: 0 2.4%;
	float: left;
	border-right: 1px #c12c0b solid;
}
.recent_order_left h1 {
	color: #ffffff;
	font-size: 21px;
	line-height: 70px;
	font-weight: bold;
	text-transform: uppercase;
}
.recent_order_right {
	position: relative;
	width: 30%;
	float: right;
}
.recent_order_right_left {
	position: relative;
	width: 80%;
	float: left;
}
.recent_order_right_right {
	position: relative;
	width: 20%;
	float: right;
}
.recent_order_right_right img {
	width: 100%;
}

.topnav input[type="text"] {
	float: right;
	border: none;
	opacity: 1;
}
.search-place {
	width: 90%;
	padding: 0 5%;
	border: none !important;
	background: #f15733;
	color: #ffffff;
	font-size: 21px;
	line-height: 65px;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	outline: none;
}
.list_order {
	position: relative;
	width: 95%;
	margin: 0 auto;
}
.list_order_inner {
	position: relative;
	width: 100%;
}
.list_order_inner ul {
	width: auto;
}
.list_order_inner ul li {
	width: 26.33%;
	margin: 1.66% 1%;
	padding: 2.5% 2.5%;
	background: #ffffff;
	float: left;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}
.list_order_top {
	position: relative;
	width: 100%;
}
.list_order_top_left {
	width: 80%;
	float: left;
}
.list_order_top_left h1 {
	color: #535353;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.list_order_top_left h1 span {
	font-size: 12px;
}
.list_order_top_left a {
	font-size: 14px;
	color: #535353;
	font-family: "Oswald", sans-serif;
}
.list_order_top_left p {
	color: #535353;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}
.list_order_top_right {
	width: 20%;
	float: left;
}
.list_order_top_right_in {
	width: 100%;
	overflow: hidden;
	border-radius: 50%;
}
.list_order_top_right_in img {
	width: 100%;
}
.list_order_centerscroll {
	position: relative;
	width: 100%;
	height: 245px;
	overflow: scroll;
}
.list_order_centerscroll_list {
	width: 100%;
	border-bottom: #000000 solid 1px;
}
.list_order_centerscroll_list_left {
	width: 70%;
	float: left;
	padding: 10px 0;
}
.list_order_centerscroll_list_left h1 {
	color: #ef443d;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}
.list_order_centerscroll_list_left p {
	color: #535353;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.list_order_centerscroll_list_right {
	width: 30%;
	float: left;
	padding: 10px 0;
}
.list_order_centerscroll_list_right h1 {
	color: #535353;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
}

.list_order_bottom {
	width: 100%;
	padding-top: 5%;
}

.list_order_bottom_left {
	width: 60%;
	float: left;
	padding: 10px 0;
}
.list_order_bottom_left h1 {
	color: #535353;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.list_order_bottom_left h2 {
	color: #535353;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
}
.list_order_bottom_right {
	width: 40%;
	float: right;
	padding: 10px 0;
}
.list_order_bottom_right_left {
	width: 45%;
	float: left;
}
.list_order_bottom_right_left .fas {
	font-size: 25px;
	color: #35ae00;
	padding: 25%;
	border: #35ae00 solid 1px;
	border-radius: 6px;
	overflow: hidden;
}
.list_order_bottom_right_left .fas:hover {
	color: #ffffff;
	background: #35ae00;
}
.list_order_bottom_right_right {
	width: 45%;
	float: right;
}
.list_order_bottom_right_right .fas {
	font-size: 25px;
	color: #ef443d;
	padding: 25% 32%;
	border: #ef443d solid 1px;
	border-radius: 6px;
	overflow: hidden;
	background: #ffffff;
}
.list_order_bottom_right_right .fas:hover {
	color: #ffffff;
	background: #ef443d;
}

.items_display {
	position: relative;
	width: 100%;
}
.items_display_firstline {
	position: relative;
	width: 100%;
}
.items_display_firstline ul {
	width: 100%;
}
.items_display_firstline ul li {
	width: 30%;
	margin: 10px 1.6%;
	float: left;
}
.items_display_firstline ul li input {
	outline: none;
	width: 100%;
	padding: 25px 10px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 6px;
	overflow: hidden;
	box-sizing: border-box;
	transition-duration: 0.3s;
	background: #f36e29;
	border: none;
	font-family: "Oswald", sans-serif;
}
.items_display_firstline_dropdown {
	outline: none;
	width: 100%;
	padding: 20px 10px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 6px;
	overflow: hidden;
	box-sizing: border-box;
	transition-duration: 0.3s;
	background: #f15733;
	border: none;
	font-family: "Oswald", sans-serif;
}
.items_display_firstline ul li ::placeholder {
	color: #ffffff;
}
.items_display2 {
	position: relative;
	width: 95%;
	margin: 0 auto;
}
.items_display2_firstline {
	position: relative;
	width: 100%;
}
.items_display2_firstline ul {
	position: relative;
	width: 100%;
	float: right;
}
.items_display2_firstline ul li {
	width: 31%;
	margin: 1.163%;
	float: left;
}
.items_display2_firstline input {
	outline: none;
	width: 100%;
	padding: 5%;
	color: #7d7d7d;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	transition-duration: 0.3s;
	background: none;
	position: relative;
}
.items_display_firstline2_dropdown {
	outline: none;
	width: 100%;
	padding: 5%;
	color: #7d7d7d;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	transition-duration: 0.3s;
	background: none;
	position: relative;
}
.items_display2_firstline ul li label {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
	font-family: "Oswald", sans-serif;
}
.items_display2_firstline ul li ::placeholder {
	color: #b3b3b3;
}
.items_display2_firstline ul li label span {
	color: #ef443d;
	font-size: 20px;
}
.openBtn {
	margin-top: 0;
	padding: 1em 30px;
	text-align: center;
	width: auto;
	display: block;
	-webkit-transition: all linear 0.15s;
	transition: all linear 0.15s;
	border-radius: 5px;
	background: linear-gradient(
		to left,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fafafa;
	z-index: 0;
	position: absolute;
	left: 3.5%;
	top: 0;
	font-family: "Oswald", sans-serif;
	font-weight: bold !important;
}
.openBtn:hover {
	background: linear-gradient(
		to right,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	color: #ffffff;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}
.openBtn2 {
	margin-top: 0;
	padding: 5% 30px;
	text-align: center;
	width: auto;
	display: block;
	-webkit-transition: all linear 0.15s;
	transition: all linear 0.15s;
	border-radius: 5px;
	background: linear-gradient(
		to left,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fafafa;
	z-index: 0;
	position: relative;
	top: 28px;
	font-family: "Oswald", sans-serif;
	font-weight: bold !important;
}
.openBtn:hover {
	background: linear-gradient(
		to right,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	color: #ffffff;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}
.switch2 {
	position: absolute;
	display: inline-block;
	width: 60px;
	height: 34px;
	top: 50%;
	margin: 0;
	right: 27.5%;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch3 {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float: left;
	margin: 0 2%;
}

.switch3 input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f15733;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #068000;
}

input:focus + .slider {
	box-shadow: 0 0 1px #068000;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.space2 {
	position: relative;
	width: auto;
	margin: 3% 0;
}
.obscure {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	content: "";
	background: rgba(9, 9, 9, 0.7);
	z-index: 1;
}
.popup {
	width: 85%;
	padding: 3%;
	transform: translate(-50%, -50%) scale(0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.9);
	border-radius: 5px;
	background: #fff;
	text-align: left;
	z-index: 3;
}
.popup .closeBtn {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	line-height: 10px;
	background: url(../images/close.png) no-repeat;
	height: 32px;
	width: 32px;
}
.popup2 {
	width: 70%;
	padding: 3%;
	transform: translate(-50%, -50%) scale(0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.9);
	border-radius: 5px;
	background: #fff;
	text-align: left;
	z-index: 3;
}
.popup2 .closeBtn {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	line-height: 10px;
	background: url(../images/close.png) no-repeat;
	height: 32px;
	width: 32px;
}
.popup_in {
	position: relative;
	width: 90%;
	padding: 5%;
}

.animationOpen,
.animationClose {
	display: block;
	-webkit-transition: all ease 0.2s;
	transition: all ease 0.2s;
}

.animationOpen {
	-webkit-transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.animationClose {
	opacity: 0;
	-webkit-transform: translate(-50%, -50%) scale(0.5);
	transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (max-width: 600px) {
	.popup {
		width: 80%;
		padding: 10px 5%;
	}
}
.quote {
	position: relative;
	width: 100%;
	padding: 0 0 1.5%;
}

.popup_main {
	margin: 0;
	position: absolute;
	z-index: 9;
	top: 0;
	width: 100%;
	height: 100%;
}
.tab_area_mian {
	margin: 5% auto;
	width: 100%;
}

ul.resp-tabs-list,
p {
	margin: 0px;
	padding: 0px;
}

.resp-tabs-list li {
	font-weight: 600;
	font-size: 13px;
	display: inline-block;
	padding: 13px 15px;
	margin: 0 4px 0 0;
	list-style: none;
	cursor: pointer;
	float: left;
	text-transform: capitalize;
}

.resp-tabs-container {
	padding: 0px;
	clear: left;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
	padding: 15px;
}

.resp-tab-active {
	border: 0px solid #68dd01 !important;
	padding: 10px 14px 14px 14px !important;
	border-top: 4px solid #68dd01 !important;
}

.resp-tab-active {
	border-bottom: none;
	background-color: #0090f4 !important;
	color: #fff;
}

.resp-content-active,
.resp-accordion-active {
	display: block;
}

h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}

h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 20%;
}

.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0 0 4px -15px;
	cursor: pointer;
	float: none;
}

.resp-vtabs .resp-tabs-container {
	padding: 0px;

	float: left;
	width: 80%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}

.resp-vtabs .resp-tab-content {
	border: none;
	word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
	border-top: 1px solid;
	border: 0px solid #5ab1d0 !important;
	border-left: 4px solid #68dd01 !important;
}

.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9b9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #dbdbdb; /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
	display: block;
}

.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1; /* !important;*/
}

.resp-jfit {
	width: 100%;
	margin: 0px;
}

.resp-tab-content-active {
	display: block;
}

h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1; /* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
	ul.resp-tabs-list {
		display: none;
	}

	h2.resp-accordion {
		display: block;
	}

	.resp-vtabs .resp-tab-content {
		border: 1px solid #c1c1c1;
	}

	.resp-vtabs .resp-tabs-container {
		border: none;
		float: none;
		width: 100%;
		min-height: 100px;
		clear: none;
	}

	.resp-accordion-closed {
		display: none !important;
	}

	.resp-vtabs .resp-tab-content:last-child {
		border-bottom: 1px solid #c1c1c1 !important;
	}
}
.add_food_btn {
	width: 10%;
	float: right;
	padding: 10px 20px;
}
.add_food_btn_left {
	width: 45%;
	float: left;
}
.add_food_btn_left .fas {
	font-size: 25px;
	color: #35ae00;
	padding: 25%;
	border: #35ae00 solid 1px;
	border-radius: 6px;
	overflow: hidden;
}
.add_food_btn_left .fas:hover {
	color: #ffffff;
	background: #35ae00;
}
.add_food_btn_right {
	width: 45%;
	float: right;
}
.add_food_btn_right .fas {
	font-size: 25px;
	color: #ef443d;
	padding: 25% 32%;
	border: #ef443d solid 1px;
	border-radius: 6px;
	overflow: hidden;
	background: #ffffff;
}
.add_food_btn_right .fas:hover {
	color: #ffffff;
	background: #ef443d;
}
.space {
	position: relative;
	width: 100%;
	padding: 5% 0 0;
}

.list-wrapper {
	padding: 15px;
	overflow: hidden;
}

.list-item {
	width: 97%;
	margin: 0 auto;
}

.list-item h4 {
	color: #ff7182;
	font-size: 18px;
	margin: 0 0 5px;
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #2e2e2e;
	padding: 15px 20px;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	text-decoration: none;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px #eee;
}

.simple-pagination .current {
	color: #fff;
	background-color: #f15733;
	border-color: #f15733;
	font-family: "Oswald", sans-serif;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #f36e29;
}
.our_menu_head {
	position: relative;
	width: 96%;
	margin: 0 auto;
	padding: 1%;
	border: #ff0004 solid 1px;
	background: #ffffff;
}
.our_menu_head_left {
	position: relative;
	width: 50%;
	float: left;
}
.our_menu_head_left h1 {
	color: #f15733;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.our_menu_head_right {
	position: relative;
	width: 50%;
	float: right;
}
.our_menu_head_right h1 {
	color: #f15733;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}
.our_menu_data {
	position: relative;
	width: 98%;
	margin: 0 auto;
	padding: 1%;
	overflow-y: scroll;
}
.our_menu_data table {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	background: #ffffff;
	overflow-y: scroll;
}
.our_menu_data td {
	border: 1px solid #000000;
	padding: 8px;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}
.our_menu_data th {
	border: 1px solid #000000;
	padding: 15px 5px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
}
.our_menu_data tr:nth-child(even) {
	background-color: #e9e9e9;
}
.data_butn {
	width: auto;
	padding: 1% 0;
}
.data_butn ul {
	width: auto;
}
.data_butn ul li {
	width: auto;
	float: left;
	margin: 1%;
}

.active_btn {
	width: 200px;
}
.active_btn a {
	padding: 5%;
	font-size: 16px;
	color: #35ae00;
	border: #35ae00 solid 1px;
	border-radius: 6px;
	overflow: hidden;
}
.active_btn a:hover {
	color: #ffffff;
	background: #35ae00;
}
.inactive_btn {
	width: 200px;
}
.inactive_btn a {
	padding: 5%;
	font-size: 16px;
	color: #f15733;
	padding: 10px 20px;
	border: #f15733 solid 1px;
	border-radius: 6px;
	overflow: hidden;
}
.inactive_btn a:hover {
	color: #ffffff;
	background: #f15733;
}
.edit_btn {
	width: auto;
}
.edit_btn a .fas {
	font-size: 16px;
	line-height: 25px;
	color: #f15733;
	padding: 8px 15px;
	border: #f15733 solid 1px;
	border-radius: 6px;
	overflow: hidden;
}
.edit_btn a .fas:hover {
	color: #ffffff;
	background: #f15733;
}
.view_btn {
	width: auto;
	padding: 12% 0;
}
.view_btn a {
	font-size: 16px;
	line-height: 25px;
	color: #f15733;
	padding: 10px 15px;
	border: #f15733 solid 1px;
	border-radius: 6px;
	overflow: hidden;
}
.view_btn a:hover {
	color: #ffffff;
	background: #f15733;
}
.food_time {
	position: relative;
	width: 100%;
}
.food_time h1 {
	color: #535353;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.food_time_in {
	position: relative;
	width: 100%;
	padding: 2% 0;
}
.food_time_in2 {
	position: relative;
	width: 100%;
	padding: 5% 0 2%;
}
.food_time label {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
	font-family: "Oswald", sans-serif;
}
.food_time ::placeholder {
	color: #ebebeb;
}
.food_time label span {
	color: #ef443d;
	font-size: 20px;
}
.food_time input {
	outline: none;
	width: 99%;
	padding: 15px 20px;
	color: #7d7d7d;
	font-size: 17px;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	transition-duration: 0.3s;
}
.food_time_btn {
	font-size: 17px;
	color: #ffffff;
	padding: 10px 20px;
	border: #35ae00 solid 1px;
	border-radius: 6px;
	overflow: hidden;
}
.active_btn a:hover {
	color: #ffffff;
	background: #35ae00;
}
.submit_btn {
	padding: 1em 30px;
	text-align: center;
	cursor: pointer !important;
	width: 70% !important;
	margin: 0 auto;
	display: block;
	-webkit-transition: all linear 0.15s;
	transition: all linear 0.15s;
	border-radius: 5px;
	background: linear-gradient(
		to left,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	font-size: 17px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff !important;
	font-family: "Oswald", sans-serif;
	font-weight: bold !important;
}
.submit_btn a {
	cursor: pointer;
}

.submit_btn:hover {
	background: linear-gradient(
		to right,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	color: #ffffff;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}

.recent_order_right2 {
	position: relative;
	width: 30%;
	float: right;
}
.recent_order_right2_left {
	position: relative;
	width: 50%;
	float: left;
	padding: 0 5%;
}
.recent_order_right2_left label {
	font-size: 17px;
	line-height: 70px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Oswald", sans-serif;
}
.recent_order_right2_right {
	position: relative;
	width: 40%;
	float: right;
	padding: 10% 0 0;
}
.recent_order_left2 {
	position: relative;
	width: 64.5%;
	padding: 0 2.4%;
	float: left;
}
.recent_order_left2 h1 {
	color: #ffffff;
	font-size: 21px;
	line-height: 70px;
	font-weight: bold;
	text-transform: uppercase;
}
.item_edit {
	position: relative;
	width: 100%;
}
.items_display2 {
	position: relative;
	width: 95%;
	margin: 0 auto;
}
.menu_edit_btn {
	position: relative;
	width: 100%;
	padding: 6% 0;
}
.menu_edit_btn ul {
	width: 100%;
}
.menu_edit_btn ul li {
	width: 48%;
	margin: 1%;
	float: left;
	border-radius: 6px;
	overflow: hidden;
}
.menu_edit_btn ul li input {
	padding: 1em 30px;
	text-align: center;
	width: 100% !important;
	margin: 0 auto;
	display: block;
	-webkit-transition: all linear 0.15s;
	transition: all linear 0.15s;
	border-radius: 5px;
	background: linear-gradient(
		to left,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	font-size: 17px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff !important;
	font-family: "Oswald", sans-serif;
	font-weight: bold !important;
	cursor: pointer;
}
.menu_edit_btn ul li input:hover {
	background: linear-gradient(
		to right,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	color: #ffffff;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}
.order_details {
	position: relative;
	width: 93%;
	background: #ffffff;
	padding: 2% 0;
	margin: 2% auto;
}
.order_details_new {
	position: relative;
	width: 95%;
	padding: 2% 0;
	margin: 0 auto;
}
.view_image {
	position: relative;
	width: 100%;
	padding: 7% 0 1%;
}
.view_image img {
	width: 100%;
}
.varient_item {
	position: relative;
	width: 96%;
	margin: 15px auto 0;
}
.items_display_firstline_inn {
	position: relative;
	width: 100%;
}
.data_butn2 {
	width: auto;
	padding: 1% 0;
}
.data_butn2 ul {
	width: auto;
}
.data_butn2 ul li {
	width: 100%;
	float: left;
	margin: 1%;
}
.data_butn2_left p {
	font-size: 16px;
	color: #000;
	line-height: 30px;
	font-family: "Oswald", sans-serif;
	text-align: right;
	font-weight: bold;
}
.data_butn2_left {
	width: auto;
	padding: 1% 5%;
	float: left;
}
.data_butn2_right p {
	font-size: 16px;
	color: #000;
	line-height: 30px;
	font-family: "Oswald", sans-serif;
	text-align: left;
	font-weight: bold;
}
.data_butn2_right {
	width: auto;
	padding: 1% 5%;
	float: left;
}

.recent_order3 {
	position: relative;
	width: 93%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
	background: #ffffff;
	border: #f15733 solid 1px;
}
.recent_order3_left {
	position: relative;
	width: 64.5%;
	padding: 0 2.4%;
	float: left;
	border-right: 1px #f15733 solid;
}
.recent_order3_left h1 {
	color: #f15733;
	font-size: 21px;
	line-height: 70px;
	font-weight: bold;
	text-transform: uppercase;
}
.recent_order3_left h1 span {
	color: #212121;
}
.recent_order3_right {
	position: relative;
	width: 30%;
	float: right;
}
.recent_order3_right_left {
	position: relative;
	width: 80%;
	float: left;
}
.recent_order3_right_right {
	position: relative;
	width: 20%;
	float: right;
}
.recent_order3_right_right img {
	width: 100%;
}
.search-place3 {
	width: 90%;
	padding: 0 5%;
	border: none !important;
	background: #ffffff;
	color: #000000;
	font-size: 21px;
	line-height: 65px;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	outline: none;
}
.varient_item2 {
	position: relative;
	width: 96%;
	margin: 15px auto;
}
.items_display_firstline2 {
	position: relative;
	width: 100%;
}
.items_display_firstline2 ul {
	position: relative;
	width: 100%;
	float: right;
}
.items_display_firstline2 ul li {
	width: 30%;
	margin: 1%;
	float: left;
}
.items_display_firstline2 ul li:last-child {
	width: 25%;
}
.items_display_firstline2 ul li:nth-child(4) {
	width: 94%;
}

.items_display_firstline_inn2 input,
select {
	outline: none;
	width: 100%;
	padding: 5%;
	color: #7d7d7d;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	transition-duration: 0.3s;
	background: none;
	position: relative;
}
.items_display_firstline_inn2 textarea {
	outline: none;
	width: 100%;
	padding: 2%;
	color: #7d7d7d;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	transition-duration: 0.3s;
	background: none;
	position: relative;
}
.items_display_firstline2 ul li label {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
	font-family: "Oswald", sans-serif;
}
.items_display_firstline2 ul li ::placeholder {
	color: #b3b3b3;
}
.items_display_firstline2 ul li label span {
	color: #ef443d;
	font-size: 20px;
}
.items_display_firstline_inn2 {
	position: relative;
	width: 100%;
}
.message_box {
	width: 100%;
	position: relative;
}

/*LOGIN PAGE CSS STARTS HERE*/

.login_bagckground {
	margin: 0;
	width: 100%;
	background: #f6f6f6 repeat;
	padding: 5% 0;
}

.login_content {
	margin: 0 auto;
	width: 90%;
}

.foobi {
	position: relative;
	float: right;
	width: 25%;
	position: relative;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.foobi img {
	width: 100%;
}
@keyframes example {
	0% {
		right: 0px;
		top: 0px;
	}
	25% {
		right: 650px;
		top: 0px;
	}
	50% {
		right: 650px;
		top: 0px;
		transform: rotate(10deg);
	}
	100% {
		right: 1600px;
		top: 0px;
	}
}

.login_fild {
	margin: 25em auto 3%;
	width: 35%;
}

.items_display2_firstline_login {
	position: relative;
	width: 100%;
}
.items_display2_firstline_login ul {
	position: relative;
	width: 100%;
	float: right;
}
.items_display2_firstline_login ul li {
	width: 100%;
	margin: 2% 0;
	float: left;
}
.items_display2_firstline_login input {
	outline: none;
	width: 100%;
	padding: 5%;
	color: #7d7d7d;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid #c4c4c4;
	transition-duration: 0.3s;
	background: none;
	position: relative;
}

.items_display2_firstline_login ul li label {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
	font-family: "Oswald", sans-serif;
}

.items_display2_firstline_inn_login {
	width: 100%;
}

.openBtn_login {
	padding: 1em 30px;
	text-align: center;
	width: 30% !important;
	margin: 0 auto;
	display: block;
	-webkit-transition: all linear 0.15s;
	transition: all linear 0.15s;
	border-radius: 5px;
	background: linear-gradient(
		to left,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	font-size: 17px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff !important;
	font-family: "Oswald", sans-serif;
	font-weight: bold !important;
}
.openBtn_login:hover {
	background: linear-gradient(
		to right,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	color: #ffffff;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}

.menu_edit_btn_new {
	position: relative;
	width: 100%;
	padding: 0;
}

.menu_edit_btn_new ul {
	width: 100%;
}
.menu_edit_btn_new ul li {
	width: 48%;
	margin: 1%;
	float: left;
	border-radius: 6px;
	overflow: hidden;
}
.menu_edit_btn_new ul li input {
	padding: 1em 30px;
	text-align: center;
	width: 100% !important;
	margin: 0 auto;
	display: block;
	-webkit-transition: all linear 0.15s;
	transition: all linear 0.15s;
	border-radius: 5px;
	background: linear-gradient(
		to left,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	font-size: 17px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff !important;
	font-family: "Oswald", sans-serif;
	font-weight: bold !important;
	cursor: pointer;
}
.menu_edit_btn ul li input:hover {
	background: linear-gradient(
		to right,
		#f36c29,
		#f35c32,
		#f24b3a,
		#ef3943,
		#eb224c
	);
	color: #ffffff;
	box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 5px 59px -40px rgba(0, 0, 0, 0.45);
}
