
/*css3 xpertcube 2015*/

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-width: 320px) and (max-width: 980px) {
/* insert styles here */
/*INDEX START*/
	.space3 {

    margin: 0 0 15%;
}
	.profile_name_inn ul {
    float: right;
}
	.profile_name_inn ul li .fas {
    line-height: 50px;
	}
	.items_display_firstline2 ul li {
    width: 98%;
	}
	.items_display_firstline2 ul li:nth-child(4) {
    width: 98%;
}
	.items_display_firstline2 ul li:last-child {
    width: 60%;
}
	.switch2 {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 1.5em;
    margin: 0;
    left: -50px;
}
	.popup2 {
    width: 85%;
	}
	.our_menu_data th {
    font-size: 14px;
	}
.our_menu_data td {
    font-size: 14px!important;
}
	.our_menu_head_left h1 {
    font-size: 13px;
	}
		.our_menu_head_right h1 {
    font-size: 13px;
	}
	.our_menu_head {
    width: 90%;
    padding: 5%;
	}
.inactive_btn a {
    font-size: 14px;
	    padding: 10px 10px;
	}
	.active_btn a {
    font-size: 14px;
		    padding: 10px 10px;
	}
	.view_btn a {
    font-size: 14px;
	}
	.edit_btn a .fas {
    font-size: 14px;
	}
	.data_butn ul li {
    margin: 7% 0;
}
.slide_bar_inner_in ul li .fas {
    font-size: 20px;
    float: none;
    padding: 25%;
	}
.slide_bar_inner_in ul li h1 {
    display: none;
}	
.slide_bar_inner_top {
    width: 100%;
    margin: 15% auto;
}
.dashboard_right_inner_intop ul li {
    width: 80%;
    margin: 2% auto;
    padding: 10%;
}
.list_order_inner ul li {
    width: 90%;
    margin: 2% auto;
    padding: 5%;
}
	.dashboard_right {
    width: 78%;
    padding: 5% 0 1.5%;
	}
	.dashboard_right_inner_intop {
    margin: 15% 0 5%;
	}
	.openBtn {
    font-size: 16px;
	}
	.profile_name_inn ul li {
    margin:0;
     width: auto;
    float: none;
	}
	.profile_name {
    width: 100%;
    float: none;
}
	.profile_name_inn ul li p {
    font-size: 16px;
		line-height: 50px;
	}
	.profile_name_user_right_in {
    width: 50px;
    height: 50px;
    top: 0;
		}
	.profile_name_user_right_in h1 {
    font-size: 16px;
    line-height: 50px;
	}
	.popup_main {
    position: relative;
	}
	.quote {
    padding: 10% 0 7%;
}
	.dashboard_right_inner_intop ul li h1 {
    line-height: 10px;
	}
	.dashboard_right_inner_intop ul li h2 {
    padding: 15px 0;
	}
	.items_display_firstline ul li {
    width: 98%;
    margin: 1%;
	}
	.items_display_firstline ul li input {
    padding: 10px 10px;
    font-size: 14px;
	}
	.items_display_firstline_dropdown {
     padding: 10px 10px;
    font-size: 14px;
	}

	.add_food_btn {
    width: 35%;
	}
	.recent_order_left {
       width: 90%;
    padding: 5%;
    background: #f15733;
    border-radius: 6px;
    overflow: hidden;
    border: none;
	}
	.recent_order_left h1 {
    font-size: 16px;
    line-height: 30px;
	}
	.recent_order_right {
    width: 100%;
		background: #f15733;
		    margin: 2% 0;
		    border-radius: 6px;
    overflow: hidden;
    border: none;
	}
		.recent_order_right2 {
    width: 100%;
		background: #f15733;
		    margin: 2% 0;
		    border-radius: 6px;
    overflow: hidden;
    border: none;
	}
	.search-place {
    font-size: 16px;
    line-height: 50px;
	}
	.recent_order {
    background: none;
		width: 95%;
	}

	.list-wrapper {
    padding: 5px 5px 20px 5px;
	}
	.recent_order_right2_right {
    width: auto;
    padding: 3%;
}
	.recent_order_left2 {
    position: relative;
    width: 95%;
	background: #f15733;
		margin: 18% auto 0;
	}
	.recent_order_left2 h1 {
    font-size: 16px;
    line-height: 50px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
/* insert styles here */


}

/* (320x480) Smartphone, Portrait */
@media only screen and (width: 320px) and (orientation: portrait) {
/* insert styles here */
	
}

/* (320x480) Smartphone, Landscape */
@media only screen and (width: 480px) and (orientation: landscape) {

}

/* (480x800) Android */
@media only screen and (min-width: 480px) and (max-width: 800px) {
/* insert styles here */
.quote {
    padding: 0;
}
.dashboard_right_inner_intop {
    margin: 10% 0 5%;
}	
.slide_bar_inner_in ul li .fas {
    font-size: 16px;
    padding: 7%;
}
	.recent_order_right {
    width: 40%;
		margin: 0;
		padding: 1% 0;
}
		.recent_order_left {
    width: 40%;
			padding: 1% 5%;
}
	.switch2 {
    top: 0.8em;
	}
	.slide_bar_inner_top {
    width: 50%;
    margin: 0 auto;
}
}
/* (640x960) iPhone 4 & 4S */
@media only screen and (max-width:700px) {
/* insert styles here */


}
@media only screen and (min-width: 375px) and (max-width: 990px) {
/* insert styles here */
	
	
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-width: 720px) and (max-width: 1280px) {
/* insert styles here */

}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-width: 720px) and (max-width: 1280px) and (orientation: landscape) {
/* insert styles here */

}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
/* insert styles here */
.openBtn {
    font-size: 13px;
	}
	.dashboard_right_inner_intop ul li h3 {
    font-size: 30px!important;
    line-height: 25px!important;
}
	.recent_order_left h1 {
    font-size: 16px;
    line-height: 50px;
	}
	.search-place {
    font-size: 16px;
    line-height: 50px;
	}
	.list_order_top_left h1 {
    font-size: 13px;
    line-height: 20px;
	}
	.list_order_top_left p {
    font-size: 11px!important;
}
	.list_order_centerscroll_list_left h1 {
    font-size: 12px!important;
		    line-height: 15px;
}
	.list_order_centerscroll_list_right h1 {
    font-size: 12px;
	}
	.list_order_bottom_right_left .fas {
    font-size: 20px;
	}
	.list_order_bottom_right_right .fas {
    font-size: 20px;
	}
	.slide_bar_inner_in ul li .fas {
    font-size: 16px;
	}
	.inactive_btn a {
    font-size: 12px;
    padding: 10px 10px;
	}
		.active_btn a {
    font-size: 12px;
    padding: 10px 10px;
	}
	.recent_order_right2_left label {
    font-size: 12px!important;
    line-height: 50px;
	}
	.food_time input {
    font-size: 12px;
	}
	.profile_name_inn ul li p {
    font-size: 14px;
	}
	.profile_name_inn ul li .fas {
    font-size: 18px;
	}
	.profile_name_user_right_in {
    width: 50px;
    height: 50px;
    top: -1.5em;
	}
	.profile_name_user_right_in h1 {
    font-size: 18px;
    line-height: 50px;
	}
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
/* insert styles here */

}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/* insert styles here */

}

/* (2048x1536) iPad 3 */
@media only screen and (min-width: 1536px) and (max-width: 2048px) {
/* insert styles here */

}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-width: 768px) and (max-width: 1366px) {

	
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1400px) {

/* insert styles here */
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px)and (max-width:1399px) {
/* insert styles here */
.dashboard_right_inner_intop ul li h3 {
    font-size: 36px;
    line-height: 30px;
	}
	.list_order_top_left p {
    font-size: 14px;
	}
	.list_order_centerscroll_list_left h1 {
    font-size: 14px;
	}
	.list_order_centerscroll_list_left p {
    font-size: 12px;
	}
	.slide_bar_inner_in ul li {
    font-size: 13px;
		padding: 4% 0 6% 10%;
	}
	.menu_right_left_profile {
    width: 50px;
    height: 50px;
	}
	.menu_right_left_profile h1 {
    font-size: 18px;
    line-height: 50px;
	}
	.our_menu_data td {
    font-size: 12px;
	}
	.recent_order_right2_left label {
    font-size: 15px;
	}
}
/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
/* insert styles here */

}

@media only screen and (min-width:1400px) and (max-width:1599px) {
/* insert styles here */


}
/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1580px) {
/* insert styles here */

}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
/* insert styles here */
}
@media screen and (max-width:2018px) {
/* insert styles here */

}

/* (1600x900) HD+ Display */
@media only screen and (min-width:1604px) and (max-width:1900px) {
/* insert styles here */


}

@media only screen and (min-width: 1025px) and (max-width: 1270px) {
/* insert styles here */
.slide_bar_inner_in ul li {
    font-size: 12px;
    padding: 5% 0 5% 10%;
}
	.list_order_centerscroll_list_left h1 {
    font-size: 13px;
}
	.dashboard_right_inner_intop ul li h3 {
    font-size: 32px;
    line-height: 26px;
	}
	.list_order_top_left h1 {
    font-size: 14px;
    line-height: 20px;
	}
	.list_order_top_left p {
    font-size: 12px;
}
	.list_order_centerscroll_list_left h1 {
    font-size: 12px;
		line-height: 20px;
}
.list_order_centerscroll_list_right h1 {
    font-size: 14px;
	line-height: 20px;
	}
	.openBtn {
    font-size: 14px;
	}
	.profile_name_inn ul li p {
    font-size: 14px;
	}
	.profile_name_inn ul li .fas {
    font-size: 18px;
	}
	.profile_name_user_right_in {
    width: 50px;
    height: 50px;
    top: -1.5em;
	}
	.profile_name_user_right_in h1 {
    font-size: 18px;
    line-height: 50px;
	}
	.dashboard_right_inner_intop ul li h2 {
    font-size: 45px;
    line-height: 40px;
	}
	.dashboard_right_inner_intop ul li h1 {
    margin-left: 30px;
	}
	.recent_order_left h1 {
    font-size: 18px;
	line-height: 50px;
	}
	.search-place {
    font-size: 18px;
    line-height: 50px;
	}
	.list_order_bottom_right_left .fas {
    font-size: 20px;
	}
	.list_order_bottom_right_right .fas {
    font-size: 20px;
	}
	.list_order_bottom_left h1 {
    line-height: 18px;
	}
	.slide_bar_inner_in ul li .fas {
    font-size: 20px;
	}
		.our_menu_data td {
    font-size: 12px;
	}
	.recent_order_left2 h1 {
    font-size: 17px;
    line-height: 50px;
	}
	.items_display_firstline ul li input {
    padding: 10px 10px;
    font-size: 12px;
	}
	.items_display_firstline_dropdown {
    padding: 10px 0px;
    font-size: 12px;
	}
	.inactive_btn a {
    font-size: 12px;
    padding: 10px 10px;
	}
		.active_btn a {
    font-size: 12px;
    padding: 10px 10px;
	}
	.view_btn a {
		    font-size: 12px;
    padding: 10px 10px;
	}
	.edit_btn a .fas {
    font-size: 12px;
    line-height: 20px;
	}
	.recent_order_right2_left label {
    font-size: 13px;
    line-height: 50px;
	}
	.food_time input {
    padding: 10px 20px;
    font-size: 14px;
	}
	
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {
/* insert styles here */

}

@media only screen and (min-width:1801px) and (max-width:2000px) {
/* insert styles here */

}
@media only screen and (min-width: 1601px) and (max-width: 1800px) {

}
@media only screen and (min-width:2001px) and (max-width:2200px) {
/* insert styles here */

}
@media only screen and (min-width: 981px) {
	


}
